{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}About{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="about" %}
{% endblock %}

<!-- Benefits of the Django application -->
{% block container %}

<div id="sec1" class="text-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 style="color:#ffffff">{% include "_brandname.html" %}</h1>
        <h4 style="color:#ffffff">Engagement, Kameradschaft, Bodenständigkeit.</h4>
      </div>
    </div>
  </div>
</div>

<div id="sec2" class="text-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>Coaching Team</h2>
        <p class="lead">Die Trainer der MU16</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="text-center"><img class="img-circle centered" src="/static/site/img/tg.jpg" alt="profile pic"></div>
        <p class="heavy text-center">Daniel Brunner</p>
        <h2>Mehrkampf</h2>
        <p>Daniel hat sich nach seiner erfolgreichen Karriere als Zehnkämpfer und dem Sprung ins Nationalteam nach einer Verletzung (zu) früh entscheiden müssen den Mehrkampf aufzugeben. Danach fokussierte er sich auf seine Paradedisziplin den Stabhochsprung und das Coaching. Beruflich ist er Doktorant an der ZHAW hier in Winterthur und reist dafür immer wieder in den Norden nach Norwegen. </p>
      </div>
      <div class="col-lg-4">
        <div class="text-center"><img class="img-circle centered" src="/static/site/img/pb.jpg" alt="profile pic"></div>
        <p class="heavy text-center">Dr. Pascal Buri</p>
        <h2>Mittelstrecken</h2>
        <p>Dr. Pascal Buri hat über mehrere Jahre Mehrkampf trainiert und zusammen mit Daniel und Roger etliche Zehnkampf-Wochenenden verbracht. Nach einigen Saisons über die 400m Hürden ist er nun bei den Mittelstrecklern gelandet und läuft vor allem für's Leben gern. Beruflich beschäftigt sich Pascal mit Gletschern. Das trifft sich gut, da er sich sehr gern in den Bergen aufhält. Seine Lieblingstrainings sind Bahntrainings jeglicher Geschwindigkeit und seine Lieblingsdisziplin ist Kugelstossen. </p>
      </div>
      <div class="col-lg-4">
        <div class="text-center"><img class="img-circle centered" src="/static/site/img/rr.jpg" alt="profile pic"></div>
        <p class="heavy text-center">Roger Rüegg</p>
        <h2>Mehrkampf</h2>
        <p>Roger hat sich in seiner Aktivzeit ganz dem Zehnkampf verschrieben. Obwohl sein Doktor ihm mit 18 Jahren empfohlen hat nur noch Golf zu spielen, hat er es doch noch bis zu Länderkämpfen und dem Kantonalturnfestsieg 11 Jahre später geschafft seine Leidenschaft auszuüben. Beruflich ist Roger Portfoliomanager und Doktorant an der Universität Zürich, wo er nicht mehr seine Weite, Höhe oder Zeit optimiert sondern die Rendite und das Risiko des Portfolios.</p>
      </div>
    </div>
    </div>
  </div>
</div>
<!--
<div id="sec3">
  <div class="container">
    <div class="row">
      <div id="map-outer" class="col-md-12">
        <div id="address" class="col-md-4">
          <h2>Our Location</h2>
          <address>
            <strong>Edge Solutions Ltd.</strong><br>
            Taj Mahal<br>
            Agra<br>
            Uttar Pradesh<br>
            India - 282001<br>
            <abbr>P:</abbr> +91 0562 222 6431
          </address>
        </div>
        <div id="map-container" class="col-md-8"></div>
      </div>
    </div>
  </div>
</div>
{% endblock container %}

{% block scripts %}
  <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
  <script>

   function init_map() {
     // Enter the latitude and longitude of your office here
	 var myLocation = new google.maps.LatLng(27.176141, 78.042370);

     var mapOptions = {
          center: myLocation,
          zoom: 14
     };

	 var marker = new google.maps.Marker({
	   position: myLocation,
	   title:"We are here"});

     var map = new google.maps.Map(document.getElementById("map-container"),
                                   mapOptions);
	 marker.setMap(map);
   }

   google.maps.event.addDomListener(window, 'load', init_map);
  </script>
--!>
{% endblock scripts %}
