{% extends "accounts/auth_base.html" %}

{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Sign Up{% endblock %}

{% block form_heading %}Ich möchte der männlichen U16 Gruppe der LV Winterthur als Athlet oder als Eltern beitreten. {% endblock %}

{% block form %}
  {% crispy form %}

  <div class="form-message">
    <p>
      Die männliche U16 umfasst momentan die Jahrgänge 2003 und 2004.
      Bist Du bereits im Team? <a href="{% url 'accounts:login' %}">Trete ein</a>.
    </p>
  </div>
{% endblock form %}

