{% extends "base.html" %}
{% load static %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load customtags %}

{% block title %}{{ block.super }}Wettkämpfe{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="competition" %}
{% endblock %}

<!-- Benefits of the Django application -->
{% block container %}

<div id="sec1" class="text-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 style="color:#ffffff">{% include "_brandname.html" %}</h1>
        <h4 style="color:#ffffff">Engagement, Kameradschaft, Bodenständigkeit.</h4>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
<iframe src="https://calendar.google.com/calendar/embed?src=g7trtnc4b6ecbg490ph5f7gf88%40group.calendar.google.com&ctz=Europe%2FZurich" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe><tr>
{% if user.profile.is_coach %}
<p><a class="btn btn-default" href="{% url 'focus:focus_competition_create' %}">Neuer Event</a></p>
{% endif %}

    <form id="abmelden" method="post">
       <h1 >Wettkämpfe & Events</h1>
<table class="table table-hover table-bordered table-striped table-condensed">

    {% if not user.is_authenticated %}
    <td>Was</td>
    <td>Von</td>
    <td>Bis</td>
    <td>Wo</td>
</tr>
{% for object in object_list %}
<tr>
<!--    <td><a href="{{object.get_absolute_url}}">{{object.name}}</a></td> -->
    <td>{{object.name}}</td>
    <td>{{ object.starttime }}</td>
    <td>{{ object.endtime }}</td>
    <td><a href="{{object.location.get_absolute_url}}">{{ object.location.name }}</a></td>
</tr>
{% endfor %}
</table>
<!--        <a class="btn btn-primary" href="{% url 'focus:focus_training_create' %}">Neues Training</a> -->

  <h4>&nbsp;Wenn Du weitere Details erfahren möchtest, dann melde Dich heute noch an:</h4>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a class="btn btn-default" href="{% url 'accounts:login' %}" role="button">Log in</a>
    <a class="btn btn-primary" href="{% url 'accounts:signup' %}" role="button">Sign up</a>
  {% else %}
<!--<p><a class="btn btn-default" href="{% url 'focus:focus_training_list' %}">Trainings</a></p> -->
<tr>
    <td>Was</td>
    <td>Von</td>
    <td>Bis</td>
    <td>Wo</td>
    <td>Anmeldung bis</td>
    <td>Wie melde ich mich an?</td>
    <td>Dabei?</td>
</tr>
{% for object in object_list %}
<tr>
<!--    <td><a href="{{object.get_absolute_url}}">{{object.name}}</a></td> -->
    <td><a href="{{object.get_absolute_url}}">{{object.name}}</a></td>
    <td>{{ object.starttime }}</td>
    <td>{{ object.endtime }}</td>
    <td><a href="{{object.location.get_absolute_url}}">{{ object.location.name }}</a></td>
    <td>{{ object.sign_in_date }}</td>
    <td>{{ object.subscription }}</td>
        {% csrf_token %}
    {% if object|competitor:user %}
        <td><div class="form-group" enctype="multipart/form-data">
                <button type="submit" value={{ object.pk }} name="abmelden" class="btn btn-primary btn-error">
                    Abmelden:(  </button>
        </div></td>
    {% else %}
        <td><div class="form-group" enctype="multipart/form-data">
                <button type="submit" value={{ object.pk }} name="anmelden" class="btn btn-primary btn-success">
                    {% if object.selfsubscription %}   Ich habe mich angemeldet wie links beschrieben! {% else %} Ich möchte mich anmelden {% endif %}  </button>
        </div></td>
    {% endif %}
</tr>
{% endfor %}
</table>
<!--        <a class="btn btn-primary" href="{% url 'focus:focus_training_create' %}">Neues Training</a> -->
</div>
    {% endif %}
</form>
{% endblock %}