{% extends "base.html" %}
{% load static %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load customtags %}

{% block title %}{{ block.super }}Competitions{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="competition" %}
{% endblock %}

<!-- Benefits of the Django application -->
{% block container %}

<div id="sec1" class="text-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 style="color:#ffffff">{% include "_brandname.html" %}</h1>
        <h4 style="color:#ffffff">Engagement, Kameradschaft, Bodenständigkeit.</h4>
      </div>
    </div>
  </div>
</div>
{% if user.is_authenticated %}
<p><a class="btn btn-default" href="{% url 'focus:focus_competition_list' %}">Wettkämpfe & Events</a></p>
<div class="container-fluid">
<h1>{{ object.name }}</h1>
<table class="table table-hover table-bordered table-striped table-condensed">
<td>Start:</td><td>{{ object.starttime }}</td></tr>
<tr><td>Ende:</td><td>{{ object.endtime }}</td></tr>
<tr><td>Beschreib</td><td>{{ object.description }}</td></tr>
<tr><td>Link</td><td>{{ object.link }}</td></tr>
<tr><td>Anmelden bis</td><td>{{ object.sign_in_date }}</td></tr>
  <tr><td>Muss ich mich selber anmelden?</td><td>{% if object.selfsubscription %}Ja {% else %} Nein{% endif %}</td></tr>
  <tr><td>Wie melde ich mich an?</td><td>{{ object.subscription }}</td></tr>
<tr><td>Treffzeit</td><td>{{ object.meeting_time }}</td></tr>
  <tr><td>Treffort</td><td><a href="{{object.location.get_absolute_url}}">{{ object.location.name }}</a></td></tr>
<tr><td>File</td><td>{% if object.file %}<a href="{{ media_url }}{{object.file.url}}">Download</a>{% endif %}</td></tr>
  <tr><td>Angemeldet sind:</td><td></td></tr>
  {% for competitor in competitors %}
  <tr><td></td><td>{% if competitor.yesorno %}{{ competitor.user.name }}{% endif %}</td></tr>
  {% endfor %}
</table>
{% if user.profile.is_coach %}
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit Event</a>
  </div>
{% endif %}
{% endif %}
{% endblock %}