{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'focus_driver_list' %}">Driver Listing</a></p>
<table class="table">
<tr><td>slug</td><td>{{ object.slug }}</td></tr>
<tr><td>created</td><td>{{ object.created }}</td></tr>
<tr><td>last_updated</td><td>{{ object.last_updated }}</td></tr>
<tr><td>number_seats</td><td>{{ object.number_seats }}</td></tr>
<tr><td>note</td><td>{{ object.note }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit Driver</a>

{% endblock %}