{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'focus_event_list' %}">Event Listing</a></p>
<table class="table">
<tr>
<td>ID</td><td>Link</td>
    <td>name</td>
    <td>slug</td>
    <td>created</td>
    <td>last_updated</td>
    <td>short_description</td>
    <td>file</td>
    <td>is_duration</td>
    <td>is_distance</td>
    <td>is_repetitions</td>
    <td>detailed_description</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.pk}}</td>
    <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
    <td>{{ object.name }}</td>
    <td>{{ object.slug }}</td>
    <td>{{ object.created }}</td>
    <td>{{ object.last_updated }}</td>
    <td>{{ object.short_description }}</td>
    <td>{{ object.file }}</td>
    <td>{{ object.is_duration }}</td>
    <td>{{ object.is_distance }}</td>
    <td>{{ object.is_repetitions }}</td>
    <td>{{ object.detailed_description }}</td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'focus_event_create' %}">Create new Event</a>
{% endblock %}